{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
    <div class="">
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter Username">

            <label for="username">Password:</label>
            <input type="password" name="password" id="password"  placeholder="Enter Password">

            <input type="submit" value="Submit">
        </form>
        <p>haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>

    {% elif page == 'register' %}
    <div class="">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
        </form>
        <p>haven't signed up yet?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
{% endblock content %}